.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prende l'intera altezza della viewport */
  padding: 20px; /* Aggiungi il padding desiderato */
  background-color: #f0f0f0;
}